
#welcome-section {
  text-align: center;
  /* margin-bottom: 30em; */
  padding-top: 50vh;
  min-height: 100%;
  margin:auto;
  transform: translate(0%, 25vh);  /* added this line */
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(images/mountains.png);
  background-position: center;
  position: relative;
  background-size: cover;
    /* margin-top: 10rem; */
}

.nav-logo {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  top: 0px;
  position:sticky;
  z-index: 3;
  background-color: black;
  width: 100vw;
}

.nav-links {
  /* flex: 1; */
  text-align: right;
  margin-right: 2rem;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: .5rem 1rem;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.nav-links ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ff7000;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: center;
}

.nav-links ul li a:hover {
  color: #95a5a6;
}

.nav-links ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.text-box {
  color: white;
}

nav .fa-times {
  display: none;
}

nav .fa-bars {
  display: none;
}

@media (max-width:700px) {

  /* .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    background: orange;
    transition: 1s
  }
  nav .fa-times{
    display: block;
    margin: 1rem;
    cursor: pointer;
  }
  nav .fa-bars{
    display: block;
    margin: 1rem;
  }
  .nav-links{
    padding: 3px
  } */
  .about-me {
    flex-direction: column;
  }

  .about-me-content, .about-me-languages {
    width: auto;
    min-width: 100vw
  }
}

.about-me {
  display: flex
  /* margin:auto; */
  /* height: 10vh */
}

.about-me-title {
  font-size: 5rem
}

.about-me-content {
  text-align: left;
  width: 70%;
  padding: 5%;
  /* border: solid black; */
}

.about-me-languages {
  text-align: center;
  width: 30%;
  padding: 1% 0% 4% 0%;
  /* border: solid black; */
}

.about-me-languages-title {
  margin: 1rem;
  padding-bottom: 1rem;
}

.projects-title {
  padding: 1rem;
  text-align: center;
}

.album {
  height: 100vh
}

section div img {
  height: 10rem;
  object-fit: fill;
}
